/*@media print {
  body { font-size: 10pt }
}
@media screen {
  body { font-size: 13px }
}
@media screen, print {
    body { line-height: 1.2 }
}*/

.pre {
    display: inline;
    font-family: monospace;
    /*white-space: pre-word;
    word-wrap: break-word;*/
}

/*.about {
    white-space: normal;
}

.about:active {
    white-space: pre;
}

.about:hover {
    white-space: pre;
}*/

.activity {
    display: block;
    word-break: break-all;
    max-width: 100%;
    max-height: 100%;
}

.activity:focus {
    word-break: keep-all;
    word-wrap: normal;
}

/*.entry {
    position: absolute;
}*/

/* textarea { */
/*     color: gray; */
/* } */

/* touch */
/* textarea:active { */
/*     color: blue; */
/* } */

/* mouse */
/* textarea:hover { */
/*     color: black; */
/* } */

/* textarea:focus { */
/*      color: red; */
/* } */

textarea+p.tooltip_activity {
    margin: 0.5em; /*display: flex;
    justify-content: flex-end;*/
    position: fixed;
    left: -80em;
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: black;
    color: white;
    transition: left 1s ease-in-out 3s;
}

/* touch */
textarea:active+p.tooltip_activity {
    /* background-color: black; */
    left: 0;
    transition: left 0s ease-in-out 0.2s;
}

/* mouse */
textarea:hover+p.tooltip_activity {
    /* background-color: black; */
    left: 0;
    transition: left 0s ease-in-out 0.2s;
}

textarea:focus+p.tooltip_activity {
    left: -80em;
    transition: left 0s ease-in-out;
}

/*textarea:+p.tooltip_activity {
    left: -80em;
    transition: left 0s ease-in-out;
}*/

*:focus {
    border: 2px solid blue;
}

/*a[download] {
    display: inline;
}*/

/*.timelog_entry {
    padding: 2em;
}*/

/*hr::after {
    content: "Just Ctrl+A Ctrl+C to copy this complete timelog entry"
}*/

